sanic==22.12.0
Pillow>=9.3.0
aiohttp>=3.8.1
bugsnag>=4.2.1
commonmark>=0.9.1
coverage>=7.0.1
datafiles>=2.0
jinja2>=3.0.3
markdown>=3.4.1
minilog>=2.1
pytest>=7.2.0
pytest-cov>=4.0.0
pytest-describe>=2.0
pytest-random>=0.2
python-dotenv>=0.21.0
sanic-cors>=2.2.0
sanic-openapi>=21.12.0
webpreview>=1.6.0